.bannerCardTitle{
  color: rgb(0, 4, 255);
}
.bannerCardContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bannerHoverImagesContainer{
  display: flex;
  column-gap: 40px;
  row-gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}